@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
    margin: 10px;
    margin-top: 0;
}

h3 {
    font-size: 18px;
    margin: 10px;
    margin-top: 0;
}

p {
    margin: 10px;
    margin-top: 0;
}

* {
    color: #1e3323;
}

select {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    width: 100vw;
    margin: 0px;
    background-color: #a9ccb1;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    background-color: #a9ccb1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;

}

#menu > a {
    position: absolute;
    right: 50px;
}

#main-content {
    display: flex;
    background-color: #a9ccb1;
    flex-direction: row;
    width: 100%;
    margin: 0px;
}

#middle-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 66%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-right: 20px;
    background-color: #bfdbc5;
    border-radius: 20px;
}

#main-content > div {
    /*border: 5px solid black;*/
}

#left-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 34%;
    background-color: #a9ccb1;
    padding-left: 20px;
    padding-right: 20px;
}

#upper-section, #lower-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}


.latex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebf5ed;
    width: 100%;
    min-height: 150px;
    padding: 17px;
    margin-bottom: 20px;
    overflow: auto;
    box-sizing: border-box;
    border-radius: 20px;


}
#differentiate {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    margin-bottom: 20px;
}

#input-text {
    margin-right: 10px;
}

#submit-button {
    margin-left: 10px;
}

#options-box > table {
    width: 100%;
}

#options-box > table * {
    font-weight: 400;
}

input, button {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    border: 0;
}

#input-text {
    width: 70%;
    height: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    flex-grow: 1;
}

#submit-button, #simplify-submit, #clear-steps {
    height: 100%;
    font-weight: bold;
    color: white;
    background-color: #d97736;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#submit-button:hover , #simplify-submit:hover, #clear-steps:hover {
    background-color: #d64118;
    cursor: pointer;
}

#submit-button:active , #simplify-submit:active, #clear-steps:active {
    background-color: #ad3621;
}


#input-preview * {
    color: #154899;
}

#input-simplified, #differentiated-result {
    background-color: #d8e8db;
}

#show-steps {
    width: 100%;
    height: 60px;
    font-family: 'Karla', sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: white;
    background-color: #8ab593;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#steps {
    display: flex;
    flex-direction: column;
    max-height: 0;
    width: 100%;
    overflow: auto;
    transition: max-height 0.2s ease-out;
    background-color: #d8e8db;
    box-sizing: border-box;

}

#steps > * {
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    height: fit-content;
}

#show-steps > p {
    color: white;
    margin: 0;
}

#button-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#simplify, #clear-steps {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.explanation {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 77%;
    flex-wrap: wrap;
    padding-top: 15px;
}

.explanation > * {
    margin-right: 5px;
}

.explanation * {
    color: #66786a;
}

#options-box, #instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bfdbc5;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#options-box {
    height: 150px;
}

#instructions{
}

.left-boxes-title {
    font-size: 23px;
}

.loader {
  border: 10px solid #ebf5ed;
  border-top: 10px solid #a9ccb1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
