<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://kit.fontawesome.com/683f9c94a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <title>Calculus Derivative Calculator</title>
</head>
<body>
    <div id="menu">
        <h1>Calculus Derivative Calculator</h1>
        <a href="https://github.com/alexlee27/calc-derivative-calculator" target="_blank"><i class="fa-brands fa-github fa-3x" style="color: #1e3323;"></i></a>
    </div>
    <div id="main-content">
        <div id="left-column">
            <div id="options-box">
                <h3 id="options-title">Options</h3>
                <table>
                    <tr>
                        <th><label for="variable-of-diff">Differentiation var.</label></th>
                        <th>
                            <select id="variable-of-diff">
                                <option value="x">x</option>
                                <option value="a">a</option>
                                <option value="b">b</option>
                                <option value="c">c</option>
                                <option value="d">d</option>
                                <option value="f">f</option>
                                <option value="g">g</option>
                                <option value="h">h</option>
                                <option value="j">j</option>
                                <option value="k">k</option>
                                <option value="l">l</option>
                                <option value="m">m</option>
                                <option value="n">n</option>
                                <option value="o">o</option>
                                <option value="p">p</option>
                                <option value="q">q</option>
                                <option value="r">r</option>
                                <option value="s">s</option>
                                <option value="t">t</option>
                                <option value="u">u</option>
                                <option value="v">v</option>
                                <option value="w">w</option>
                                <option value="y">y</option>
                                <option value="z">z</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th><label for="expand" id="expand-text">Expand?</label></th>
                        <th><input type="checkbox" id="expand" name="expand" value="false" onclick="toggleExpandCheckbox()"></th>
                    </tr>
                </table>
            </div>

        </div>

        <div id="middle-column">
            <div id="upper-section">
                <h2>Input preview</h2>
                <p class="scroll-message">If the entire expression doesn't appear, try scrolling</p>
                <div id="input-preview" class="latex-box"></div>


                <form id="differentiate">
                    <input type="text" placeholder="Enter an expression to differentiate..." id="input-text" name="input_text">
                    <input type="submit" id="submit-button" value="Differentiate!">
                </form>

                <div id="loader"></div>

                <h2>Original expression</h2>
                <p class="scroll-message">If the entire expression doesn't appear, try scrolling</p>
                <h3>Rearranged and simplified:</h3>
                <div id="input-simplified" class="latex-box"></div>

                <div id="button-box">
                    <form id="simplify">
                        <input type="hidden" id="simplify-original" name="simplify_original" value="">
                        <input type="hidden" id="simplify-expand" name="simplify_expand" value="">
                        <input type="submit" id="simplify-submit" value="Simplify further">
                    </form>

                    <button id="clear-steps">Clear steps</button>
                </div>
            </div>

            <h2>Differentiated expression</h2>
            <p class="scroll-message">If the entire expression doesn't appear, try scrolling</p>
            <button type="button" id="show-steps">Steps <p id="show-steps-icon">+</p></button>
            <div id="steps">
            </div>

            <div id="lower-section">
                <h3>Rearranged and simplified:</h3>
                <div id="differentiated-result" class="latex-box"></div>
            </div>
        </div>

        <div id="right-column">

        </div>
    </div>
    <script src="../static/index.js"></script>
    <footer>
        <small>&copy; Alex Lee 2023. All rights reserved.</small>
    </footer>
</body>
</html>
