<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <title>Calculus Derivative Calculator</title>
</head>
<body>
    <div id="left-column">

    </div>

    <div id="middle-column">
        <h1>Calculus Derivative Calculator</h1>

        <h2>Input preview</h2>
        <p>If the entire input doesn't appear, try scrolling</p>
        <div id="input-preview"></div>


        <form id="differentiate">
            <input type="text" placeholder="Enter an expression to differentiate..." id="input-text" name="input_text">
            <input type="checkbox" id="expand" name="expand" value="false" onclick="toggleExpandCheckbox()">
            <label for="expand">Expand?</label>
            <input type="submit" value="Differentiate!">
        </form>

        <div id="input-simplified-box">
            <h2>Original expression</h2>
            <p>Rearranged and simplified:</p>
            <p id="input-simplified"></p>
        </div>

        <div id="button-box">
            <form id="simplify">
                <input type="hidden" id="simplify-original" name="simplify_original" value="">
                <input type="hidden" id="simplify-expand" name="simplify_expand" value="">
                <input type="submit" value="Simplify further">
            </form>
        </div>

        <div id="differentiated-box">
            <h2>Differentiated expression</h2>
            <button type="button" class="show-steps">Show steps</button>
            <div class="content">
              <p>Lorem ipsum...</p>
            </div>
            <p>Rearranged and simplified:</p>
            <p id="differentiated-result"></p>
        </div>
    </div>

    <div id="right-column">

    </div>

    <script src="../static/index.js"></script>
</body>
</html>
